<p>Vaša kartica sudjeluje u Secure3D programu.</p>
<form action="{{ ASCUrl }}" method="POST">
    <input type="hidden" name="PaReq" value="{{ PaReq }}"/>
    <input type="hidden" name="TermUrl" value="{{ TermUrl }}"/>
    <input type="submit" value="Nastavi s kupovinom"/>
</form>